html {
    height: 100%
}

body {
 	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	background-image: url("../img/background2.jpg");
 	background-size: 100% 100%;	
 	background-attachment:fixed;	
 	background-repeat: no-repeat;
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 auto;
}

header {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;

}

#header-title {
	/*border-top: thin solid rgba(255,255,255,0.25);
    border-bottom: thin solid rgba(255,255,255,0.25);*/
    font-size: 10rem;
	font-weight: bold;
    text-shadow: 7px 7px 15px #333;	
    color:white;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 400px;
}
#header-sub-text
{
    font-size: 3rem;
}
#header-nav {
	padding-bottom: 100px;
}
#header-nav a {
	font-size: 2rem;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	color: white;
	opacity: .75;

}

#header-nav a:hover {
	opacity: 1;
	transition: opacity 400ms;
}

.section {
	min-height:1050px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.sectionTopShadow {
	box-shadow: 0px -.5px .5px black;
}
.bckcolor2 {
	background-color: #2ecc71;

}

.bckcolor1 {
	background-color: #27ae60;
}

a {
	text-decoration: none;
}

h1 {
	font-weight: bold;
	color: white;
    font-size: 7rem;
    text-align: center;	
    margin-top: 0px;
    text-shadow: 1px 1px 10px #333;	
    margin-bottom: 1rem;
	font-family: 'Roboto Condensed', sans-serif;
}

.header-subtext{
	color: white;
    font-size: 2rem;
    text-align: center;		
}

.about-me-text {
	height:170px;
}
.about-me-face {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
h2 {
	text-align: center;
	color: white;
    font-size: 3.5rem;
    margin-top: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	 color:#22313F;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.text-center {
	text-align: center;
}
.subtle-section-text {
	font-style: italic;
	color:white;
	font-size: 3rem;
	text-align: center;
}
.contact_text {
	margin-left: 10px;
	padding-top: 0px;
    font-size: 5.1rem;
	color:white;
	text-align: center;
	display: inline-block;
}
.contact_icon {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

i {
	color:white;
}

.btnFade {
	opacity: .75;
}

.btnFade:hover {
	opacity: 1;
	transition: opacity 400ms;
}

p {
	font-family: 'Roboto Condensed', sans-serif;

	color:white;
	margin-top: 0px;
	margin-bottom:0px;
	font-size: 1.8rem;
}

#portfolioContent {
	min-height: 400px;
	margin-right: 50px;
	margin-left:50px;
}

#Footer {
	text-align: center;
	min-height: 50px;
}

button {
     background:none;
     border:none; 
     padding:0;
     font: inherit;
     cursor: pointer;
     outline-color: transparent;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
z-index: 100;
display: none;
text-decoration: none;
display: inline;
text-decoration: none;
border-radius: 0px;
}

.back-to-top i {
	margin-right: 3px;
	margin-bottom: 3px;
	display: inline;
	text-decoration: none;
	border-radius: 0px;
}
.back-to-top i:hover {
	margin-right: 3px;
	margin-bottom: 3px;
	display: inline;
	text-decoration: none;
	border-radius: 0px;
}

.breadcrumb {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	text-align: center;
	font-size: 2rem;
	border-bottom: thin solid rgba(255,255,255,0.25);
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.breadcrumb li p {
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0);
	font-size: 2rem;
	opacity: .6;
}

.tech-img {
	width:50px;
	height:50px;
}
.platform-img {
	width:100px;
	height:100px;
}

.screenshot-img {
	width:100%;
}

.resume-header{
	border-bottom: thin solid rgba(255,255,255,0.25);
}

.horizlist{
	padding-left: 0px;
	list-style:none;
	text-align:center;      
}
#skill-list ul li{
    padding-right:6px;
    height:50px;
    width:50px;
    display:inline;

	}
#skill-list ul{
	height:50px;
	width:50px;
	display:inline;

}
#skill-list ul img{
        display:inline;
		width:50px;
}